@tailwind base;
@tailwind components;
@tailwind utilities;

#bg_image {
  background-image: url("../images/me.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 153px;
  border-bottom-left-radius: 680px;
  box-shadow: 10px 10px 4000px 10px black inset;
  filter: brightness(1.3);
}

.circle::before {
  content: "";
  width: 80px;
  height: 80px;
  background-color: rgb(206, 216, 208);
  border-radius: 50%;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 150ms ease-in;
  /* z-index: -1; */
}
.circle:hover::before {
  box-shadow: 10px 10px 600px 10px rgb(170, 38, 211);
}

.left_circle::before {
  background-image: url("../images/research.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  border-radius: 50%;
}

.middle_circle::before {
  background-image: url("../images/prototype.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  border-radius: 50%;
}

.right_circle::before {
  background-image: url("../images/code.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  border-radius: 50%;
}

.bg-image {
  background-image: url("../images/me.jpeg");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position-y: 64px; */
}

#divider {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border: 1px solid gray;
  height: 100%;
}
